/*
 * Infinite rotating world
 */
.rotate {
    animation: rotate 2s infinite;
}

@keyframes rotate {
    to {
        transform: rotate3d(0, 1, 0, 360deg);
    }
}

/*
 * Shaking gift on touch
 */
.shake:focus,
.shake:hover {
    animation: shake 1s linear;
    transform: translateX(0);
}
@keyframes shake {
    10%, 90% {
        transform: translateX(-1px);
    }

    20%, 80% {
        transform: translateX(2px);
    }

    30%, 50%, 70% {
        transform: translateX(-4px);
    }

    40%, 60% {
        transform: translateX(4px);
    }
}

/*
 * Slide in  the text
 */
.slide-in {
    animation: slide-in 1s ease-in 333ms;
}
@keyframes slide-in {
    0% {
        transform: translateY(-100vh) rotate(-90deg);
    }
	80% {
		transform: translateY(-10vh) rotate(-90deg);
	}
}
